$color:red;
#div1{
    background: #000;
}
#div2{
    background:$color;
}
#div3{
    background: #000;
    .aa{
        color: beige;
        &:hover{
            background:green;
        }
    }
    &:hover{
        background: #000;
    }
}

#div999{
    width:percentage(30/100);
    &-container{
        background: #f5e2a5;
    }
    &-title{
        color:#e5e5e5;
        .xasda{
            position: relative;
            top: 0;
            right: 0;
            margin: 0;
            left: 0;
            bottom: 0;
        }
    }
}

@mixin xx{
    color:red;
    background: #fff;
    float:left;
    margin: 0;
    top: 0;
}
#div928{
    @include xx;
    position: absolute;
}
#div8{
    @extend #div2;
    color:#d3e4a5;
}
@mixin abc($clr,$w,$h){
    background: $clr;
    width: $w;
    height:$h;
}
#div4{
    @include abc(#da58da,100px,200px);
}
#div5{
    @include abc($w:200px,$clr:#c7d8e9,$h:2px)
}
#div6{
    background: rgb(17, 177, 57);
    width: percentage(3 / 100);
    width:abs(-10px);
}
@for $i from 1 through 12{
    .color-log#{$i}{
        width:percentage($i/100);
    }
}
$icons:a,b,c,d;
@each $icon in $icons{
    .sfy-#{$icon}{
        background:url($icon+'.png');
    }
}